.data_amount {
  font-size: 18px;
}

.glyphicon-cog {
	font-size: 36px;
	cursor: pointer;
}

.input-group-addon:first-child, #bill_amount_input {
	border: none;
}

.bill-final-row {
	border-top: 2px;
}