<!doctype html>
<html>

    <head>
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/sticky-footer-navbar.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link href="css/bootstrap-switch.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Divide</title>
    </head>

    <body ng-app="SplitCalc">
        <div class="main" ng-controller="MobileController">
            <div class="row page-header">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="input-group input-group-lg" id="bill_amount_container">
                        <span class="input-group-addon" id="sizing-addon1">$</span>
                        <input type="number" id="bill_amount_input" class="form-control" placeholder="Bill Amount" ng-blur="set_bill()">
                        <span class="input-group-btn">
                            <span class="glyphicon glyphicon-cog col-sm-4" data-toggle="modal" data-target="#settingsModal"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="alert alert-info" role="alert" ng-show="persons.length==0">Oh no! You haven't added anyone yet. Click the button below to add a new person.</div>
                <div ng-show="persons.length>0">
                    <table class="table table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-sm-1"></th>
                                <th class="col-sm-3">Name</th>
                                <th class="col-sm-4"></th>
                                <th class="col-sm-2"></th>
                                <th class="col-sm-2 text-right">Amount Owed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row" ng-repeat="person in persons"> 
                                <td class="col-sm-1"><a href="#" class="btn btn-default" ng-click="remove_person(person.full_name)"><span class="glyphicon glyphicon-remove"></span></a> </td>
                                <td class="col-sm-3">{{person.full_name}}</td>
                                <td class="col-sm-4"></td>
                                <th class="col-sm-2"></th>
                                <td class="col-sm-2 text-right">{{person.final_amount | currency:"$":2}}</td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-1"></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-4 text-right">Subtotal</td>
                                <th class="col-sm-2"></th>
                                <td class="col-sm-2 text-right">{{bill | currency:"$":2}}</td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-1"></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-4 text-right">Tax</td>
                                <td class="col-sm-2 text-right">{{tax}}%</td>
                                <td class="col-sm-2 text-right">{{(tax/100*bill) | currency:"$":2}}</td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-1"></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-4 text-right">Tip</td>
                                <td class="col-sm-2 text-right">{{tip}}%</td>
                                <td class="col-sm-2 text-right">{{(tip/100*bill) | currency:"$":2}}</td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-1"></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-4 text-right">Total</td>
                                <th class="col-sm-2"></th>
                                <td class="col-sm-2 text-right">{{total_bill | currency:"$":2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- settings modal -->
                <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="settingsModalLabel">Settings</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" id="new_person_form">
                            <div class="form-group">
                                <label for="amount_owed" class="col-sm-4 control-label">Tax</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control" aria-label="Amount" id="tax_percentage" placeholder="Tax Percentage" value="{{tax}}"> 
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount_owed" class="col-sm-4 control-label">Tip</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control" aria-label="Amount" id="tip_percentage" placeholder="Tip Percentage" value="{{tip}}">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount_owed" class="col-sm-4 control-label">Split at nearest dollar?</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="checkbox" name="rounding" id="rounding-switch">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="update_settings()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- new person modal -->
                <div class="modal fade" id="newPersonModal" tabindex="-1" role="dialog" aria-labelledby="newPersonModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newPersonModalLabel">Add Person</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" id="new_person_form">
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="name" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount_owed" class="col-sm-4 control-label">Amount Owed</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount_owed" placeholder="for those who are not splitting evenly" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">Splitting Evenly?</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="splitting" id="splitting-switch" checked>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="add_new_person()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="navbar navbar-default navbar-fixed-bottom">
                    <button class="btn btn-primary btn-lg btn-block" id="add_new_person" data-toggle="modal" data-target="#newPersonModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap-switch.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mobile.js"></script>

        <!-- Modules -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/MobileController.js"></script>
    </body>

</html>