<!doctype html>
<html>

    <head>
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/sticky-footer-navbar.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link href="css/bootstrap-switch.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Split Bill Calculator</title>
    </head>

    <body ng-app="SplitCalc">
        <div class="main" ng-controller="MobileController">
            <div ng-show="bill < 0">
                <div class="page-header text-center">
                    <h1>$<span id="bill_amount"></span></h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">7</div>
                        <div class="col-sm-4">8</div>
                        <div class="col-sm-4">9</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">4</div>
                        <div class="col-sm-4">5</div>
                        <div class="col-sm-4">6</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">1</div>
                        <div class="col-sm-4">2</div>
                        <div class="col-sm-4">3</div>
                    </div>
                </div>
            </div>
            <div ng-show="bill >= 0">
                <div class="row page-header">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center"><h1>Split Bill Calculator</h1></div>
                    <div class="col-sm-4"><h1><span class="glyphicon glyphicon-cog col-sm-4"></span></h1></div>
                </div>
                <div class="container">
                    <div class="alert alert-info" role="alert" ng-show="num_persons==0">Oh no! You haven't added anyone yet. Click the button below to begin.</div>
                    <div class="alert alert-info" role="alert" ng-show="num_persons>0">More than one
                    </div>
                    <div class="row" ng-repeat="person in persons"> 
                        <div class="col-sm-4">{{person.full_name}}</div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-right">{{person.amount_owed | currency:"$":2}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-right">Subtotal</div>
                        <div class="col-sm-4 text-right">{{bill | currency:"$":2}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-right">Tax</div>
                        <div class="col-sm-4 text-right">{{tax}}%</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-right">Tip</div>
                        <div class="col-sm-4 text-right">{{tip}}%</div>
                    </div>
                    <div class="row">

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="newPersonModal" tabindex="-1" role="dialog" aria-labelledby="newPersonModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newPersonModalLabel">Add Person</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" id="new_person_form">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount_owed" class="col-sm-2 control-label">Amount Owed</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount_owed" placeholder="for those who are not splitting evenly" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Splitting?</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" name="splitting" id="splitting-switch" checked>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="add_new_person()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="navbar navbar-default navbar-fixed-bottom">
                    <button class="btn btn-primary btn-lg btn-block" id="add_new_person" data-toggle="modal" data-target="#newPersonModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap-switch.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mobile.js"></script>

        <!-- Modules -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/MobileController.js"></script>
    </body>

</html>